<!-- src/app/app.component.html -->
<div class="flex justify-center flex-col items-center">
  <div class="w-80 h-10 flex justify-center items-center bg-[#1f2937] mt-8 text-xl font-bold rounded-md text-slate-400">
    Manuel Eduardo Rios Martinez
  </div>

  <form [formGroup]="postForm" (ngSubmit)="createNewPost()" class="p-4 rounded shadow-md w-full max-w-4xl mt-4 flex flex-col lg:flex-row lg:gap-4 items-center justify-center">
    <div class="mb-4">
      <label for="title" class="block text-gray-400 font-bold mb-2">Title</label>
      <input formControlName="title" id="title" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
    </div>
    <div class="mb-4">
      <label for="body" class="block text-gray-400 font-bold mb-2">Body</label>
      <input formControlName="body" id="body" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>
    <div class="mb-4">
      <label for="userId" class="block text-gray-400 font-bold mb-2">User ID</label>
      <input formControlName="userId" id="userId" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>

    <button type="submit" [disabled]="postForm.invalid" class="bg-blue-500 hover:bg-blue-700 w-40 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Create New Post
    </button>
  </form>

  <ul class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-8 p-8 justify-center">
    @for (post of posts; track post.id) {
      <li>
        <app-card-post
          [title]="post.title"
          [body]="post.body"
          [postId]="post.id"
          [userId]="post.userId"
          (delete)="deletePost($event)"
          (update)="updatePost($event)"
        >
        </app-card-post>
      </li>
    }
  </ul>
</div>
